{% load static %}

<div id="Instrument">
    <form method="POST" enctype="multipart/form-data" action="{% url 'UpdatePrinciple' principle.pk %}" class="admin-form">
        <div class="form-layout">
            
            <!-- Left Section: Image -->
            <div class="form-left-section">
                <div class="form-image">
                    <label for="id_image" class="form-label">Guiding Principle Image</label>
                    {% if principle.image %}
                    <img src="{{ principle.image.url }}" class="img-fluid instrument-image" alt="{{ principle.title }}">
                    {% else %}
                    <img src="{% static 'images/phil.png' %}" class="img-fluid instrument-image" alt="Default Image">
                    {% endif %}
                    <div class="file-input-wrapper">
                        <label for="id_image" class="file-label">Update Image</label>
                        <input type="file" id="id_image" name="image" class="file-input">
                    </div>
                </div>
            </div>

            <!-- Right Section: Form Fields -->
            <div class="form-right-section">
                {% csrf_token %}

                <!-- Title Field -->
                <div class="form-group floating-label-group">
                    <input type="text" id="id_name" name="title" class="form-control" placeholder=" " required value="{{ principle.title|default_if_none:'' }}" />
                    <label for="id_name" class="floating-label">Title</label>
                </div>


                <!-- Description Field -->
                <div class="form-group floating-label-group">
                    <textarea id="id_description" name="description" class="form-control" placeholder=" " required>{{ principle.description|default_if_none:'' }}</textarea>
                    <label for="id_description" class="floating-label">Description</label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Save Principle</button>
                <div id="error-message-container" style="color: red; display: none; text-align: center;"></div>
            </div>
        </div>
    </form>
</div>
