{% load static %}

<div id="Instrument">
    <form method="POST" enctype="multipart/form-data" action="{% url 'CreateFeedback' %}" class="admin-form">
        <div class="form-layout">
            
            <!-- Right Section: Form Fields -->
            <div class="form-right-section">
                {% csrf_token %}
                
                <!-- User Section -->
                <div class="form-group">
                    <select id="id_user" name="user" class="form-control" required>
                        <option value="" disabled selected hidden></option> <!-- Keeps label from dropping -->
                        {% for user in Users %}
                        <option value="{{ user.pk }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_user" class="floating-label">User Name</label>
                </div>
                
                <!-- Instrument Section -->
                <div class="form-group">
                    <select id="id_instrument" name="instrument" class="form-control" required>
                        <option value="" disabled selected hidden></option>
                        {% for instrument in Instruments %}
                        <option value="{{ instrument.pk }}">{{ instrument.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_instrument" class="floating-label">Instrument Name</label>
                </div>
                
                <!-- message Field -->
                <div class="form-group floating-label-group">
                    <input type="text" id="id_message" name="message" class="form-control" placeholder=" " required />
                    <label for="id_message" class="floating-label">Feedback</label>
                </div>
                


               
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Add Instrument</button>
                <div id="error-message-container" style="color: red; display: none; text-align: center;"></div>
            </div>
        </div>
    </form>
</div>
